
html, body {
    font-size: 62.5%;
    min-height: 100%;
    height:100%
}

body{
  font-size: 14px;
  line-height: 1.65;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

a{
  color:#80bd01;
  text-decoration: none;
}

a:hover{

}

*{
  box-sizing: border-box;
}

hr{
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top:1px solid #ebebeb
}


time{
  font-size: 12px;
  text-transform: uppercase;
  color: #555
}

h2, h3 {
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-bottom:0;
  color: #383F49
}

h2 a {
  color: #383F49
}

h2 a:hover {
  color: #464E5A
}

h3{
  font-size: 24px
}

p {
  display: inline-block;
  padding: 0 0 20px;
  margin: 0;
  font-size: 16px;
}

ul{
  display: inline-block;
}

code{
  padding: 3px 5px;
  margin: 0;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font-size: 14px;
}

pre{
  padding: 0;
  margin: 20px 0;
  display: inline-block;
  width: 100%;
}

.archive ul,
.archive li{
  padding: 0;
  margin: 0;
  display: block;
}

article img {
  max-width: 100%
}

.clear {
    clear: both
}

/**
 *  Aside
 */

aside {
  width: 30%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  padding: 50px;
  background: url('../images/istanbul.jpg') no-repeat 50% 0;
  background-size: cover;
  color: #fff;
}

aside canvas{
  position: absolute;
  top:0;
  left:0;
  z-index: -1
}

aside img{
  width: 100px;
}

aside h1 {
  margin: 0;
  font-size: 24px;
}

aside a {
  width: 180px;
  height:75px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-indent: -99cm;
  background: url('../images/logo.svg') no-repeat 0 0;
  background-size: 180px
}

aside p {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}


/**
 *  Article
 */

main {
  width: 70%;
  float: right;
  min-height: 100%;
  position: relative;
}

article{
  padding: 50px 10% 50px;
}

.markdown-body{
  padding-bottom: 200px
}

.markdown-body .content{
  margin-top: 20px
}

.project a{
  margin-right: 10px
}

.blankslate {
    position: relative;
    padding: 30px;
    text-align: left;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
    margin-bottom: 20px
}

.blankslate p{;
  display: block
}

.blankslate p span{
  margin-right: 10px;
}

.dependencies{
    margin-top: 20px;
    color: #666
}

.dependencies code {
  margin: 0 5px
}

.dependencies a {
  color: #666
}

.markdown-body p,
.markdown-body li
{
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  font-size: 16px
}

.markdown-body ul{
  display: block;
  list-style-type: disc;
  list-style-position: inside;
}

.markdown-body li{
  display: block;
  clear: both;
  width: 100%;
  list-style-type: disc;
  list-style-position: inside;
}


.hljs{
  padding: 10px 15px
}

p.author{
  font-size: 14px;
  color: #ddd;
}

p.author a{
  color: #999;
}

nav.pagination-post{
  padding: 5% 10% 200px;
  font-size: 12px;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

nav.pagination-post a{
  margin-right: 20px
}

.content .octicon-calendar{
  color:#444
}

#disqus_thread{
  margin-top: 100px
}




/**
 *  Footer
 */

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5% 10%;
  background:#edeff0;
  clear: both;
  font-size: 12px;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  color: #8d9aa5;
}




/**
 * Mobile
 */

 @media screen and (max-width: 728px) {

     main {
       width: 100%
     }

     aside{
       width: 100%;
       position: relative;
       height: 200px;
       padding: 30px 7%;
       background-position: 50% 50%;
     }

     aside canvas{
       z-index: 1
     }

     aside h1,
     aside p{
       position: relative;
       z-index: 10
     }

     article{
       padding:5% 5% 0
     }

     h2{
       font-size: 18px
     }

     nav.pagination-post{
       padding-left: 5%
     }

     footer{
       text-align: center
     }

 }


 @media screen and (min-width: 728px) and  ( max-width:960px) {
    aside a {
      width: 150px;
      background-size: 150px;
    }
    article{
      padding: 25px 10% 50px;
    }

    aside{
      padding: 30px;
    }

 }


/**
 * Buttons
 */


 .btn {
     position: relative;
     display: inline-block;
     padding: 6px 12px;
     font-size: 13px;
     font-weight: bold;
     line-height: 20px;
     color: #333;
     white-space: nowrap;
     vertical-align: middle;
     cursor: pointer;
     background-color: #eee;
     background-image: linear-gradient(#fcfcfc, #eee);
     border: 1px solid #d5d5d5;
     border-radius: 3px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-appearance: none;
     font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol'
 }

 .btn i {
     font-style: normal;
     font-weight: 500;
     opacity: 0.6
 }

 .btn .octicon {
     vertical-align: text-top;
     margin-right: 5px
 }

 .btn .counter {
     text-shadow: none;
     background-color: #e5e5e5
 }

 .btn:focus {
     text-decoration: none;
     border-color: #51a7e8;
     outline: none;
     box-shadow: 0 0 5px rgba(81,167,232,0.5)
 }

 .btn:focus:hover,.btn.selected:focus {
     border-color: #51a7e8
 }

 .btn:hover,.btn:active,.btn.zeroclipboard-is-hover,.btn.zeroclipboard-is-active {
     text-decoration: none;
     background-color: #ddd;
     background-image: linear-gradient(#eee, #ddd);
     border-color: #ccc
 }

 .btn:active,.btn.selected,.btn.zeroclipboard-is-active {
     background-color: #dcdcdc;
     background-image: none;
     border-color: #b5b5b5;
     box-shadow: inset 0 2px 4px rgba(0,0,0,0.15)
 }

 .btn.selected:hover {
     background-color: #cfcfcf
 }

 .btn:disabled,.btn:disabled:hover,.btn.disabled,.btn.disabled:hover {
     color: rgba(102,102,102,0.5);
     cursor: default;
     background-color: rgba(229,229,229,0.5);
     background-image: none;
     border-color: rgba(197,197,197,0.5);
     box-shadow: none
 }

 .btn-primary {
     color: #fff;
     text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
     background-color: #60b044;
     background-image: linear-gradient(#8add6d, #60b044);
     border-color: #5ca941
 }

 .btn-primary .counter {
     color: #60b044;
     background-color: #fff
 }

 .btn-primary:hover {
     color: #fff;
     background-color: #569e3d;
     background-image: linear-gradient(#79d858, #569e3d);
     border-color: #4a993e
 }

 .btn-primary:active,.btn-primary.selected {
     text-shadow: 0 1px 0 rgba(0,0,0,0.15);
     background-color: #569e3d;
     background-image: none;
     border-color: #418737
 }

 .btn-primary.selected:hover {
     background-color: #4c8b36
 }

 .btn-primary:disabled,.btn-primary:disabled:hover,.btn-primary.disabled,.btn-primary.disabled:hover {
     color: #fefefe;
     background-color: #add39f;
     background-image: linear-gradient(#c3ecb4, #add39f);
     border-color: #b9dcac #b9dcac #a7c89b
 }


.btn-danger {
    color: #900
}

.btn-danger:hover {
    color: #fff;
    background-color: #b33630;
    background-image: linear-gradient(#dc5f59, #b33630);
    border-color: #cd504a
}

.btn-danger:active,.btn-danger.selected {
    color: #fff;
    background-color: #b33630;
    background-image: none;
    border-color: #9f312c
}

.btn-danger.selected:hover {
    background-color: #9f302b
}

.btn-danger:disabled,.btn-danger:disabled:hover,.btn-danger.disabled,.btn-danger.disabled:hover {
    color: #cb7f7f;
    background-color: #efefef;
    background-image: linear-gradient(#fefefe, #efefef);
    border-color: #e1e1e1
}

.btn-danger:hover .counter,.btn-danger:active .counter,.btn-danger.selected .counter {
    color: #b33630;
    background-color: #fff
}

.btn-outline {
    color: #4078c0;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5
}

.btn-outline .counter {
    background-color: #eee
}

.btn-outline:hover,.btn-outline:active,.btn-outline.selected,.btn-outline.zeroclipboard-is-hover,.btn-outline.zeroclipboard-is-active {
    color: #fff;
    background-color: #4078c0;
    background-image: none;
    border-color: #4078c0
}

.btn-outline:hover .counter,.btn-outline:active .counter,.btn-outline.selected .counter,.btn-outline.zeroclipboard-is-hover .counter,.btn-outline.zeroclipboard-is-active .counter {
    color: #4078c0;
    background-color: #fff
}

.btn-outline.selected:hover {
    background-color: #396cad
}

.btn-outline:disabled,.btn-outline:disabled:hover,.btn-outline.disabled,.btn-outline.disabled:hover {
    color: #767676;
    background-color: #fff;
    background-image: none;
    border-color: #e5e5e5
}

.btn-with-count {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.btn-sm {
    padding: 2px 10px
}
